.divContenedor{
    display: flex;
    justify-content: center;
}
.card{
    border: 1px;
    margin: 2px;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
    
}
.card:hover{
    -webkit-box-shadow: 3px 3px 43px -8px rgba(61,61,61,1);
    -moz-box-shadow: 3px 3px 43px -8px rgba(61,61,61,1);
    box-shadow: 3px 3px 43px -8px rgba(61,61,61,1);
    transform: scale(0.97);
}

