.divContenedor{
    background-color: rgb(190, 184, 184);
    display: flex;
    justify-content: space-between;
    margin: 3px;
}
.card{
    border: 1px;
   
    margin: 2px;
    transition: transform 0.3s ease-in-out;
    
}
.card:hover{
box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
transform: scale(1.05);
}