input {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
}


input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}