input {
    all: unset;
}

.barritaInf{  
  text-shadow: 0px 3px 3px rgb(201, 201, 201);
  font-size: x-large;
  
 
}



.navbar{
    background-color: #82C0CC;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E5F1FA;
}

.carrito{
    width: 20px;
    height: 20px; 
}

@media (min-width: 768px) {
    .carrito {
      width: 25px;
    height: 25px; 
    }
}

#logo{
    width: 150px;
}

#lupa{
    display: flex;
    flex-direction: row;
    width: 20px;
}

@media (min-width: 768px) {
    #lupa {
      width: 90px;
    }
}

#buscador{
  width: 300px;
  border-top-left-radius: 6px; 
  border-bottom-left-radius: 6px;
  background-color: #e9f1fb;
  box-shadow: 0 0 5px gray;
}

@media (min-width: 768px) {
  #buscador {
    width: 400px;
  }
}

form input:hover {
    box-shadow: 0 0 5px gray;
  }
  
  form input:focus {
    box-shadow: 0 0 5px #3786da;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 0.9rem;
    background-color: #3E86D5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 300px; 
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    z-index: 100;
  }
  

  .dropdown-content .dropdown {
    position: relative;
    width: 100%; 
  }
  
  .dropdown-content .dropdown .dropdown-content {
    top: 0;
    left: 100%; 
    display: none; 
    width: 200px; 
  }
  
  .dropdown-content .dropdown:hover .dropdown-content {
    display: block; 
  }

  .sombra {
    box-shadow: 0 0 5px #3786da;    
  }

  .sombra2 {
    -webkit-box-shadow: 0px -1px 32px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 32px -4px rgba(0,0,0,0.75);
box-shadow: 0px -1px 32px -4px rgba(0,0,0,0.75);
  }
